/ALLINA_UNITED_HOSPITAL
/ALLINA_UNITED_HOSPITAL_ABBOTT_NORTHWESTERN_HOSPITAL
/BAYLOR_SCOTT_&_WHITE_MEDICAL_CENTER_-_ROUND_ROCK
/BUFFALO_HOSPITAL_RIVER_FALLS_AREA_HOSPITAL_ST_FRANCIS_REGIONAL_MEDICAL_CENTER_and_6_others
/OUR_LADY_OF_THE_LAKE_REGIONAL_MEDICAL_CENTER
/TEXAS_HEALTH_ARLINGTON_MEMORIAL_HOSPITAL_TEXAS_HEALTH_HARRIS_METHODIST_HOSPITAL_FORT_WORTH
/TEXAS_HEALTH_HARRIS_METHODIST_HOSPITAL_FORT_WORTH_TEXAS_HEALTH_ARLINGTON_MEMORIAL_HOSPITAL_TEXAS_HEALTH_PRESBYTERIAN_HOSPITAL_DALLAS_and_2_others
/TEXAS_HEALTH_HARRIS_METHODIST_HOSPITAL_FORT_WORTH_TEXAS_HEALTH_ARLINGTON_MEMORIAL_HOSPITAL_TEXAS_HEALTH_PRESBYTERIAN_HOSPITAL_DALLAS_and_3_others
/TEXAS_HEALTH_HARRIS_METHODIST_HOSPITAL_SOUTHLAKE_TEXAS_HEALTH_HARRIS_METHODIST_HOSPITAL_STEPHENVILL_TEXAS_INSTITUTE_FOR_SURGERY_AT_PRESBYTERIAN_HOSPIT
/TEXAS_HEALTH_PRESBYTERIAN_HOSPITAL_ALLEN_TEXAS_HEALTH_HARRIS_METHODIST_HOSPITAL_ALLIANCE_TEXAS_HEALTH_ARLINGTON_MEMORIAL_HOSPITAL_and_11_others
/TEXAS_HEALTH_PRESBYTERIAN_HOSPITAL_ALLEN_TEXAS_HEALTH_HARRIS_METHODIST_HOSPITAL_ALLIANCE_TEXAS_HEALTH_ARLINGTON_MEMORIAL_HOSPITAL_and_12_others
/TEXAS_HEALTH_PRESBYTERIAN_HOSPITAL_ALLEN_TEXAS_HEALTH_HARRIS_METHODIST_HOSPITAL_ALLIANCE_TEXAS_HEALTH_ARLINGTON_MEMORIAL_HOSPITAL_and_5_others
/hospitals_01_2021
/hospitals_01_2022
/hospitals_01_2023
/hospitals_01_2024
/hospitals_02_2025
/hospitals_03_2021
/hospitals_04_2021
/hospitals_04_2022
/hospitals_04_2023
/hospitals_04_2024
/hospitals_04_2025
/hospitals_07_2021
/hospitals_07_2022
/hospitals_07_2023
/hospitals_07_2024
/hospitals_08_2025
/hospitals_10_2021
/hospitals_10_2022
/hospitals_10_2023
/hospitals_10_2024
/hospitals_11_2023